header{
    background-color: #f4f4f5;
    text-align: center;
}
body{
    background-color: #f4f4f5;
    font-family: sans-serif;
}
.header{
    margin-left: 150px;
    margin-right: 200px;
    padding-top: 5px;
    background-color: #f4f4f5;
    font-family: sans-serif;
    border-radius: 20px;
    box-shadow: 0 0 2px 2px #f4f4f5;  
    padding: 30px 40px; 
    text-align: center;
    height: fit-content;
    color: white;
    background-image: url("https://images.unsplash.com/photo-1533563906091-fdfdffc3e3c4?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070");
}
.container{
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 25px;
    padding: 5px;
    background-color: #f4f4f5;
    font-family: sans-serif;
    border-radius: 20px;
    box-shadow: 0 0 2px 2px #f4f4f5;  
    text-align: center;
    height: fit-content;
}
button{
    padding: 10px;
    text-align: center;
    background-color: #15522e;
}
.btn1{
    margin-top: 20px;
    margin-left: 32%;
    border: 1px solid darkgrey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.btn2{
    border: 0px solid #f4f4f5;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.btn3{
    border: 1px solid #f4f4f5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
}
button:hover{
      background-color: #c5d3c2; 
      color: black; 
    }
.btn5:hover{
      background-color: #f4f4f5;
      color: black; 
}
.tasks{
    margin-left: 50px;
    padding: 0px;
    display: inline;
}
.btn4{
    margin-left: 1180px;
    border: 1px solid #f4f4f5;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.top{
    border: 1px solid rgb(0, 0, 0);
    padding-top: 15px;
    padding-bottom: 500px;
    margin-left: 50px;
    margin-right: 50px;
}
.middle{
    border: 1px solid rgb(0, 0, 0);
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 600px;
}
#hiddenSection{
    border: 1px solid rgb(0, 0, 0);
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 600px;
    margin-bottom: 50px;
}
.btn5{
    margin-left: 25px;
    border: 1px solid #f4f4f5;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f4f4f5;
}
.btn6{
    border: 1px solid #f4f4f5;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:click .dropdown-content {
  display: block;
}


.visible {
  display: block;
}